<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=,, initial-scale=1.0">
    <title>Board Members</title>
    <link rel="icon" type="image/png" href="/images/gmblogo.png">
    <style>
        body, html {
                height: 100%;
                margin: 0;
                background-image: url('/images/boardbackground.jpg');
                background-position: center; 
                background-repeat: no-repeat;
                background-size: cover; 
            }
        .back-button {
            position: absolute; 
            top: 50px; 
            left: 50px;
            }
    
        .back-button a {
            display: block; 
            }
    
        .back-button img {
            display: block; 
            width: 50px; 
            height: auto; 
            }    
    
        .board-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.95);
            border-radius: 15px;
            border: 1px solid rgba(199, 115, 37, 0.89);
            padding: 20px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 0vh auto 10vh;
            max-width: 90%;
            width: 100%; 
            max-height: 85%;
            height: 100%;
            box-sizing:content-box;
            position: relative;
            top: 5%;
            }  

        #content {
            height: 700px; 
            overflow-y: auto;
            }

        #content > .content-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0;
            padding: 80px;
            opacity: 1; 
            visibility: visible;
            transition: opacity 0.5s ease, transform 0.5s ease;
            }    
        #content > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0;
            padding: 10px;
            opacity: 0; 
            transform: translateY(50px); 
            visibility: hidden;
            transition: opacity 0.5s ease, transform 0.5s ease;
            }
    
        #content > div.visible {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
            }
    
        .photo {
            width: 20%;
            margin-left: 3%;
            margin-right: 5%;
            transition: width 0.2s ease;
            }
        
        .photo:hover{
            width: 40%;    
            }
        .photo img {
            width: 100%;
            border-radius: 10px;
            }
    
        .text {
            width: 75%;
            border-left: 2px solid rgba(199, 115, 37, 0.89);
            padding-left: 5%;

            }
    
        .text p {
            text-align: justify;
            font-size: large;
            } 
        
        .text h3 {
            text-align: justify;
            font-size: x-large;
            font-weight: bold;
        }
        

    </style>
</head>

<body>
    <div class="board-container">
        <div class="back-button">
            <a href="/" target="_self">
                <img src="/images/backbutton.png" alt="Back" />
            </a>
        </div>

        <div id="content">
            <div class="content-item">
                <img src="/images/suleymanulucay.png" alt="Description 1" class="photo" />
                <div class="text">
                    <h3>Süleyman ULUÇAY - Mayor</h3>
                    <p>Dr. Süleyman Uluçay has been serving as the Mayor of Famagusta since December 25, 2022. He was born in 1962 in the village of Balıkesir, which is connected to Nicosia. Due to the intercommunal conflicts in Cyprus, the Uluçay family, like other Turkish Cypriots, was forced to leave the mixed village of Balıkesir, located near Ercan Airport, in 1964. Initially moving to Cihangir, the family later migrated to Famagusta.

                        President Süleyman Uluçay attended primary school at Pertev Pasha Primary School and Gazi Primary School. He completed his secondary and high school education at Namık Kemal High School and graduated in 1980. As a part of the Namık Kemal High School Volleyball Team, which won awards in the volleyball competitions organized by TÜBİTAK for high schools, Uluçay actively played in the school volleyball team throughout his high school life. In addition, he served as the school captain between 1979-1980. Uluçay started his university education at Ankara University Faculty of Medicine in 1980 and after graduation, he successfully passed the specialization exams and completed his specialization training in Urology at Hacettepe University Faculty of Medicine, starting his career as a urologist in 1992. Between 1992-1994, he completed his 22-month compulsory military service during the 15th term reserve officer draft. Following his military service, he worked briefly as a Urologist in Yozgat.
                        
                        Uluçay, who took the exam for a vacant position in Cyprus, began working as a Urologist at Nicosia Dr. Burhan Nalbantoğlu State Hospital in 1995. During his tenure at Nicosia Dr. Burhan Nalbantoğlu State Hospital, he also served once a week at Cengiz Topel Hospital for 8 years. During his 27 years of service at Dr. Burhan Nalbantoğlu State Hospital, Dr. Süleyman Uluçay performed the first kidney transplant in the TRNC in the field of urology. He also performed successful transplant surgeries, urological cancer and kidney stone surgeries, and treatments, contributed to the development of treatments in this field, and achieved pioneering successes. He played a significant role in the establishment of the Mağusa Medical Center Hospital, which became operational in 1995 and was a pioneer in the development of private health services in the country.
                        
                        After 2017, Dr. Süleyman Uluçay served only at Nicosia Dr. Burhan Nalbantoğlu State Hospital and did not work in private clinics or hospitals. He retired from public service in May 2022. He has many articles published in Turkish and international journals in the field of urology.
                        
                        Since his transition from childhood to adolescence, Uluçay has been closely involved with the problems of his country, working with his friends in the People's Association and Revolutionary Youth Association for the future of his country. After moving to Ankara for his university education, he continued his efforts in the same direction with his Turkish and Cypriot friends and was among the founders of the University Representatives Council.
                        
                        Dr. Süleyman Uluçay, who has a special interest in the recent history of Cyprus, attaches great importance to the memories he has heard from those who experienced the era and to books written on this subject. He has written many articles in various newspapers on the recent history and current issues of the TRNC. He has participated in numerous health or social responsibility projects organized on a volunteer basis. During the great fire in the Kyrenia mountains, he responded to a call on the radio and joined a group of Famagusta friends in the firefighting efforts. He is a member of the Cyprus Turkish Medical Association, Cyprus Turkish Medical Union, Tıp-İş, KTAMS, and the Cyprus Turkish Urology Association. He is also a member of the Turkish Urology Association in Turkey. A father of three, Uluçay is proficient in English.<p>
                </div>
            </div>

            <div class="content-item">
                <img src="/images/arzuabic.png" alt="Description 2" class="photo" />
                <div class="text">
                    <h3>Arzu ABİÇ</h3>
                    <p>She was born in Famagusta in 1989. She graduated from the Nursing Department of Near East University in 2010. After completing her master's degree at the same university, she received a PhD from the Department of Obstetrics and Gynecology Nursing at Mersin University Faculty of Nursing. She served as a lecturer in the Nursing Department of Eastern Mediterranean University between 2012-2020. Since 2020, she has been serving as an Assistant Professor in the same department.

                        Council member Arzu Abiç is married and a mother of two children. She serves on the Famagusta Municipality Council in the Culture and Arts Committee, Traffic Committee, Rent Commission, and Tender Advisory Committee.<p>
                </div>
            </div>

            <div class="content-item">
                <img src="/images/erhunsahali.png" alt="Description 3" class="photo" />
                <div class="text">
                    <h3>Erhun ŞAHALİ</h3>
                    <p>Born in Nicosia in 1977, he completed his high school education at the Famagusta Turkish Maarif College and his university education at the Istanbul University Faculty of Political Sciences, Department of International Relations. He pursued a master's degree in International Relations and European Studies at the University of Kent in England and continued his doctoral studies at the Middle East Technical University's Department of International Relations. During his student years in Istanbul, he served as the president of the University Representatives Council (ÜTK). He has worked as a lecturer at Eastern Mediterranean University (DAÜ) for many years. He is a certified tourist guide and a manager in a construction company of which he is a partner. He has been a founding member and executive in many non-governmental organizations. He is one of the tenor voices of the Othello Polyphonic Choir. He speaks English, French, and Greek fluently, and knows a bit of Russian. A council member since 2018, Erhun Şahali is married and a father of one child. He is a member of the Union of Municipalities Council and serves on the Tender Evaluation Commission and the Tender Advisory Committee of the Famagusta Municipality Council. He is also the chairman of our municipality's External Relations and Promotion Committee.<p>
                </div>
            </div>

            <div class="content-item">
                <img src="/images/huseyinaranir.png" alt="Description 4" class="photo" />
                <div class="text">
                    <h3>Hüseyin ARANIR</h3>
                    <p>
                        He was born in Famagusta in 1987. After completing GMTMK, he graduated from the Department of Electrical and Electronic Engineering at Eastern Mediterranean University. He served two terms on the boards of the Famagusta Youth Center, Cyprus Turkish Electrical Contractors Union, and Yonpaş Dumlupınar Turkish Sports Club. Aranır has been the director of Electricity & Engineering since 2011. He speaks English fluently.
                        
                        Hüseyin Aranır is married and a father of one child. He serves on the Rent Commission and the Tender Advisory Committee of the Famagusta Municipality Council.<p>
                </div>
            </div>

            <div class="content-item">
                <img src="/images/huseyinmanik.png" alt="Description 5" class="photo" />
                <div class="text">
                    <h3>Hüseyin MANİK</h3>
                    <p>
                        He was born in Ortaköy in 1979. He completed his primary education in Yeşilköy and Erenköy and his secondary education at Famagusta TMK and Erenköy High School. He graduated from the Faculty of Veterinary Medicine at Istanbul University. During his university life, he served in various capacities, including the presidency, in the University Representatives Council. After working in clinics, hospitals, universities, civil society, and animal protection organizations in various countries, he established Vetline Animal Hospital in Famagusta in 2009. He has been serving as a municipal council member in Famagusta Municipality for two terms. He speaks English well.
                        
                        Council member Hüseyin Manik is married and serves as the Vice President at Famagusta Municipality.<p>
                </div>
            </div>

            <div class="content-item">
                <img src="/images/minekaraca.png" alt="Description 6" class="photo" />
                <div class="text">
                    <h3>Mine KARACA</h3>
                    <p>
                        She was born in Famagusta on September 1, 1979. She completed her primary education at Gazi Primary School and her secondary education at Namık Kemal High School. In 2002, she graduated from the Department of Computer Information Systems at Eastern Mediterranean University. She is currently continuing her education in Public Administration at Anadolu University. After working in the private sector for three years, Karaca started working as an officer at the Social Insurance Department Famagusta Branch in 2006 and is still serving in this position. She speaks English well.
                        
                        Council member Mine Karaca is a mother of two, ages 19 and 15. She serves on the Traffic Committee and the Tender Advisory Committee of the Famagusta Municipality Council.<p>
                </div>
            </div>

            <div class="content-item">
                <img src="/images/mugeevram.png" alt="Description 7" class="photo" />
                <div class="text">
                    <h3>Müge EVRAM</h3>
                    <p>
                        Born in Famagusta in 1969, she graduated from Namık Kemal High School and then from the Turkish Teachers College (TÖK). She continues to work as a teacher. She is a founding member of the Famagusta Culture Association (MKD). Since 2012, she has been a member of the board of directors of the Cyprus Turkish Teachers Union (KTÖS). Additionally, she continues her activities as a dancer in the Othello Folk Dance Group.
                        
                        Council member Müge Evram is married and a mother of two. She serves on the Culture-Art Committee and the Rent Commission of the Famagusta Municipality Council.<p>
                </div>
            </div>

            <div class="content-item">
                <img src="/images/ozkanoza.png" alt="Description 8" class="photo" />
                <div class="text">
                    <h3>Özkan OZA</h3>
                    <p>Born in Famagusta in 1955, he established his own tailoring workshop, Dikim 76, in 1976. In 1982, he founded the Oza Jeans factory, where he served as director and exported jeans to Turkey. During the 1990s, he served three terms as a community leader. He currently serves as the director of Oza Dikimevi, which he founded in 2003. He speaks English well and Greek at an intermediate level.

                        Council member Özkan Oza is married and a father of one child. He also has one grandchild. He serves on the Tender Commission and the Tender Advisory Committee of the Famagusta Municipality Council.<p>
                </div>
            </div>

            <div class="content-item">
                <img src="/images/ramadankucuksu.png" alt="Description 9" class="photo" />
                <div class="text">
                    <h3>Ramadan KÜÇÜKSU</h3>
                    <p>Born in Famagusta in 1994, he graduated from the Faculty of Architecture at Eastern Mediterranean University in 2018. He spent many years as a performer and instructor with the Famagusta Folk Dance Group, participating in various international organizations. Since 2019, he has been working as a site coordinator and director at Halken Construction Company.

                        Council member Ramadan Küçüksu serves on the Traffic Committee and the Rent Commission of the Famagusta Municipality Council.<p>
                </div>
            </div>

            <div class="content-item">
                <img src="/images/ufukumay.png" alt="Description 10" class="photo" />
                <div class="text">
                    <h3>Ufuk UMAY</h3>
                    <p>She works as a Clinical Psychologist and Positive Psychotherapist at Umay Psychotherapy Center, which she founded. She completed her undergraduate education in Psychology at Near East University and graduated with high honors from her master's degree in Clinical Psychology at the same university. She continues her education with the World Association for Positive Psychotherapy. She has worked as a manager in different hotels in Cyprus and Turkey. She continues to serve as the president of the Laguna Sea Star Association. She is an activist in associations for nature and animal welfare and volunteers psychosocial support to associations and organizations.

                        Council member Ufuk Umay serves on the Culture and Art Committee, the Disciplinary Board, and the Traffic Committee of the Famagusta Municipality Council.<p>
                </div>
            </div>


        </div>
        <!-- touristic ile aynı yapıya sahip olduğundan aynı js kodlarıyla animasyonu sağlıyoruz.-->
    </div>
</body>
</html>