<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Worker</title>
    <link rel="icon" type="image/png" href="/images/gmblogo.png">
    <style>
    .body,html{
        height: 100%;
        margin: 0;
        background-image: url('/images/mayorpagebackground.jpg');
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover; 
    }
    .log-out{
            position: absolute; 
            top: 50px; 
            right: 50px;
        }
    .log-out p{
        text-align: left;
        font-size: large;
        font-weight: 700;
        display: flex;
        color: rgba(199, 115, 37, 0.89);
        transition:  font-size 0.5s ease;
    }
    .log-out p:hover{
        text-align: left;
        font-size: x-large;
        font-weight: 1000;
        display: flex;
    }
    .log-out a{
        text-decoration: none;
    }
    .worker-container{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 15px;
        border: 1px solid rgba(199, 115, 37, 0.89);
        padding-right: 20px;
        padding-left: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0vh auto 10vh;
        max-width: 70%;
        width: 100%; 
        max-height: 80%;
        height: 100%;
        box-sizing:border-box;
        position: relative;
        top: 70px;
        height: 80vh;
        overflow-y: auto; 
        padding-bottom: 50px;
    }
    .worker-container form {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding-top: 100px;
    }
    .inputs {
        display:flex;
        justify-content: space-between; /* Inputları eşit bir şekilde ayır */
        align-items: center; /* İçerikleri dikeyde ortala */
        padding-bottom: 10px; /* Buton ile arasında boşluk bırak */
        
    }
    .inputs select, .inputs input, .inputs textarea {
        display: inline-block;
        width: calc(50% - 5px); /* İki elemanın yan yana sığması için genişlik ayarı */
        padding: 12px 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #000;
        background: rgba(255, 255, 255, 0.7);
        border: 1px solid rgba(199, 115, 37, 0.89);
        transition: background 0.3s ease, width 0.3s ease, color 0.2s ease, border-radius 0.5s ease;
        border-radius: 12px;
        margin: 8px 5px; /* Elemanlar arasındaki boşluk */
        box-sizing: border-box;
        cursor: pointer;
        width: 30%;
        margin-right: 10px;
    } 

    .inputs textarea {
        width: calc(70% - 10px); /* Textarea'nın genişliğini ayarla */
        height: 100px; /* Textarea yüksekliğini ayarla */
    } 

    .inputs input:hover, .inputs textarea:hover {
        background: rgba(255, 255, 255, 0.9);
        font-weight: 1200;
        border-radius: 50px;
    }
    .worker-container button{
        display: inline-block;
        align-self: flex-end;
        padding: 12px 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: rgba(255, 255, 255, 0.9);
        background: rgba(199, 115, 37, 0.89);
        border: 1px solid rgba(199, 115, 37, 0.89);
        transition: background 0.3s ease , width 0.3s ease  , color 0.2s ease , border-radius 0.3s ease;
        border-radius: 8px;
        margin: 8px 0; 
        width: 20%; 
        box-sizing: border-box;
        cursor: pointer;
    }
    .worker-container button:hover{
        background: rgba(255, 255, 255, 0.9);
        width: 20%;
        font-weight: 1200;
        border-radius: 20px;
        color: rgba(199, 115, 37, 0.89);
    }
    
    .news-list {
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 50%;
        width: 97%;
        box-sizing: border-box;
    }

    .news-item {
        display: grid;
        grid-template-columns: 20% 15% 25% 36%; 
        border: 1px solid rgba(199, 115, 37, 0.89);
        align-items: center;
        margin-bottom: 10px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

    .news-category, .news-title, .news-content {
        margin-right: 10px; /* Sağa doğru boşluk bırakır */
        }

    .news-item form {
        margin: 0; /* Form için varsayılan marjı kaldırır */
        }

    .news-item button {
        display: inline-block;  
        padding: 12px 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: rgba(255, 255, 255, 0.9);
        background: rgba(199, 115, 37, 0.89);
        border: 1px solid rgba(199, 115, 37, 0.89);
        transition: background 0.3s ease , width 0.3s ease  , color 0.2s ease , border-radius 0.3s ease;
        border-radius: 8px;
        margin: 8px 0; 
        width: 20%; 
        box-sizing: border-box;
        cursor: pointer;
        }
    .news-item button:hover{
        background: rgba(255, 255, 255, 0.9);
        width: 30%;
        font-weight: 1200;
        border-radius: 30px;
        color: rgba(199, 115, 37, 0.89);
        }


    </style>

</head>
<body>
    <div class="worker-container">
        <form action="/add-news" method="post">
            <div class="inputs">
                <select name="category">
                <option value="road">Add Roads News</option>
                <option value="announcements">Add Announcements</option>
                <option value="events">Add Events</option>
                </select>
                <input type="text" name="title" placeholder="Title" required>
                <textarea name="content" placeholder="Content" required></textarea>
            </div>    
            <button type="submit">Submit</button>
        </form>
        <div class="log-out">
            <a href="/workers" target="_self">
                <p>Log out</p>
            </a>
        </div>
        <div class="news-list">
            <% news.forEach(function(item) { %>
                <div class="news-item">
                    <div class="news-category"><%= item.category %></div>
                    <div class="news-title"><%= item.title %></div>
                    <div class="news-content"><%= item.content %></div>
                    <form action="/delete-news/<%= item._id %>" method="post">
                    <button type="submit">Delete</button>
                    </form>
                </div>
            <% }); %>
        </div> 
        
    </div>
      
     
</body>
</html>